Flask==3.0.3
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl#sha256=f6a4fa799b1daf2a635fe55a7de6b344379dc542d54d4c490113f0bc94bed4b8
keras==3.4.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
tensorflow==2.17.0
gunicorn==20.2.0
